/*////////////////////*/
/* Variables Globales */
/*////////////////////*/

/* Nota: Hay algunos colores con numeros, mientras mayor sea el numero, mas "intenso" es el color */

:root {
    --celeste-palido1: #f6f7fb;
    --celeste-palido2: #dfe9f3; 
    --azul-claro: #0056b3;
    --azul: #14418e;
    --azul-grisaceo: #343a80;
    --azul-oscuro: #0f316d;
    --azul-oscuro2: #1f2357;
    --verde-claro: #5bbd5b;
    --verde: #4cae4c;
    --coral: #dc3545;
    --coral2: #c72333;
    --mostaza: #ae8300;
    --blanco: #ffffff;
    --gris1: #dddddd;
    --gris2: #cccccc;
    --gris3: #aaaaaa;
    --gris4: #777777;
    --gris5: #333333;
    --negro: #000000;
    --sombra: rgba(0, 0, 0, 0.3);
    --sombra-azul: rgba(0, 123, 255, 0.3);
}


/*////////////////////////////*/
/* Atributos Default Globales */
/*////////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: var(--gris4) var(--blanco);
    /* thumb, track */
}

.asignarua {


background-color: var(--azul-oscuro);
color: var(--blanco);


}
